<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><%= getDayAndDate() %> - Daily Tasks</h1>
    </header>
    
    <form action="/addTask/daily" method="POST">
        <input type="text" name="newTaskDaily" placeholder="New Daily Task" autocomplete="off">
        <button type="submit">Add</button>
    </form>
    
<ul id="dailyTasks">
    <% for (let i = 0; i < dailyTasks.length; i++) { %>
        <li>
            <input type="checkbox" id="dailyTask<%= i %>" name="dailyTask<%= i %>"<% if (dailyTasks[i].done) { %>checked<% } %>>
            <label for="dailyTask<%= i %>"><%= dailyTasks[i].task %></label>
        </li>
    <% } %>
</ul>

<a href="/" class="back">Go back to Index</a>

    
    <footer>
        <p>Copyright &copy; <%= currentYear %> ToDo Lists</p>
    </footer>
</body>
</html>
